
body{
    background-color: pink;
}

#resizable {
    margin-bottom: 100px;
    }

    #resizable div {
    padding: 10px 10px;
    height: 40px;
    width: 300px;
    background-color: #8ED2C9;
    transition: height 0.3s ease-in-out, background-color 0.3s;
    }

    #resizable div:hover {
    background-color:#FF7A5A;
    height: 300px;
    transition: height 0.6s ease-in-out, background-color 0.6s;
    }